stages:
  - build
variables:
  # Use Docker-in-Docker image
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
build-job:
  stage: build
  image: docker:stable
  services:
    - docker:stable-dind
  before_script:
    - echo "docker hub login"
    - echo "Docker user, ${DOCKER_USER}"
    - echo "${DOCKER_PASS}" | docker login --username "${DOCKER_USER}" --password-stdin
  script:
    - echo "Hello, $GITLAB_USER_LOGIN!"
    - docker buildx create builder --use
    - docker buildx build --platform linux/amd64,linux/arm64 -t mhassaankhokhar/filter-stack:$CI_COMMIT_SHA .
    - docker push mhassaankhokhar/filter-stack:$CI_COMMIT_SHA
  after_script:
    - docker logout

