stages:
  - build
variables:
  # Use Docker-in-Docker image
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
build-job:
  stage: build
  image: docker:24-dind
  services:
    - docker:24-dind
  script:
    - echo "Hello, $GITLAB_USER_LOGIN!"
    - docker build -t mhassaankhokhar/filter-stack:$CI_COMMIT_SHA .

